{% extends "base.html" %}

{% load bootstrap_toolkit %}

{% block content %}

{% if errors %}

<script>
{% for error in errors  %}
window.onload = function() {
	alert("{{erro}}");
{% endfor %}
}

</script>

{% endif %}

<center><div class="well" style="width: 50%;">
 
  <center><h3>Sistema de Requisição de Funções</h3></center>

  <form class="form-horizontal" action="/" method="post">{% csrf_token %}
    
    <center>Usuário: <input type="text" name="username" value="" id="username"></center><br>
     <center>&nbsp;&nbsp;Senha: <input type="password" name="password" value="" id="password"></center><br>
    
     <center>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Acessar" class="btn btn-primary"></center>
  </form>
 </div></center>
 
{% endblock %}